.react-grid-layout {
  overflow: visible !important;
}

.react-grid-item {
  overflow: visible !important;
}

.react-grid-item > div {
  height: 100%;
}

.react-grid-item .MuiPaper-root {
  height: 100%;
}

.react-grid-item.react-draggable-dragging {
  z-index: 1000 !important;
}

.react-grid-item.resizing {
  z-index: 1000 !important;
}
